html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    color: #454545;
}

h1 {
    /*線の種類（二重線）太さ 色*/
    border-bottom: double 5px #FFC778;
}

h2 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

h3 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

body {
    color: #232323;
    line-height: 2.0;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 980px;
    margin: 2em auto;
    padding: 0px 100px;
}

strong {
    font-style: normal;
    font-weight: normal;
    font-size: 125%;
    padding: 0 0.2em;
    color: #ff8800;
}

.navlink {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}

.gnav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

code {
    display: inline-block;
    padding: 0.1em 0.25em;
    color: #444;
    background-color: #e7edf3;
    border-radius: 3px;
    border: solid 1px #d6dde4;
}

pre {
    margin: 1em 0; /* ブロック前後の余白 */
    padding: 1em; /* ブロック内の余白 */
    border-radius: 5px; /* 角丸 */
    background: #25292f; /* 背景色 */
    color: #fff; /* 文字色 */
    overflow-x: auto; /* 横スクロールバー */
    -webkit-overflow-scrolling: touch;  /* スクロールバーの滑らかさ */
}

ul {
    padding: 0;
    list-style: none;
}

li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}


